{% extends 'base.html' %}

{% block content %}

<!-- display img rendered -->
<div class="container-fluid">
  <h2>{{ user.first_name }} {{ user.last_name }}</h2>
  <div class="row">
    <form action="/users/{{ user.id }}/edit" id="editUser">
      <button type="submit" id="editBtn" class="btn btn-primary">Edit</button>
    </form>
    <form action="/users/{{ user.id }}/delete" id="editUser" method="POST">
      <button type="submit" id="editBtn" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
{% endblock %}